#alert {
    position: fixed;
    background: red;
    color: #fff;
    border: 1px #e64646 solid;
    border-radius: 7px;
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#alert_container {
    width: 100%;
    display: flex;
    justify-content: center;
}
