footer {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerlinks {
    display: flex;
    justify-content: space-around;
    width: 410px;
}
.footerlink {
    color: #7b7f84;
    text-decoration: none;
    font-size: 15px;
}
#telelogo {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./img/1024px-Telegram_logo.svg.png);
    height: 30px;
    width: 30px;
}
#telelink {
    display: flex;
    justify-content: center;
}
#support {
    color: #7b7f84;
}
#footerdata {
    display: grid;
    grid-gap: 10px;
}
@media screen and (max-width: 420px){
    #footerlinks {
        width: auto;
        display: grid;
        grid-template-columns: 100%;
    }
    .footerlink{
        text-align: center;
    }
    #support {
        font-size: 13px;
    }
}