#privacy {
    width: 100%;
    display: flex;
    justify-content: center;
}
#privacytext {
    color: #fff;
    font-size: 13px;
}
#privacycontainer {
    background: #2E2C40;
    width: 80%;
    border-radius: 10px;
    padding: 12px;
    overflow-x: scroll;
}
#privacycontainer::-webkit-scrollbar {
    width: 10px;
  }
  
  #privacycontainer::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  #privacycontainer::-webkit-scrollbar-thumb {
    background-color: #696C84;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
  
  #privacycontainer::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }